@import "../../helpers/_variables";

body {
  background: rgb(216, 216, 224);
  
}
.signin-page {
  //   background: map-get($colors, accent);
  background: rgb(216, 216, 224);
  background: linear-gradient(
    45deg,
    rgba(216, 216, 224, 1) 32%,
    rgba(252, 242, 242, 1) 52%
  );
  // height: 100vh;
  @include desktop {
    height: 100vh;
  }
  @include tablet {
    height: 100vh;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    // border: 1px solid red;
    @include desktop {
      height: 100vh;
    }
    @include tablet {
      height: 100vh;
    }

    .greeting {
      //   border: 1px solid green;
      text-align: center;
      padding: 15% 5% 2% 5%;
      @include desktop {
        display: none;
      }
      @include tablet {
        display: none;
      }
      img {
        width: 68%;

        // border: 1px solid rebeccapurple;
      }
    }
    .small-text {
      color: black;
    }

    .social-button {
      display: flex;
      .btn-facebook {
        background: #3b5998;
        margin-right: 10px;
      }
      .btn-google {
        margin-left: 10px;
        background: #ea4335;
      }
    }
    .link-text {
      margin-top: 15%;
      color: black;
      a {
        text-decoration: none;
        color: map-get($colors, secondary);
      }
    }
  }
}
.signin-form {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .input-group {
    display: initial;

    input {
      margin-bottom: 15px;
      margin-top: 10px;
    }
  }

  @include desktop {
    width: 25%;
    border: 1px solid map-get($colors, secondary);
    padding: 15px;
    border-radius: 5px;
  }
  @include tablet {
    width: 50%;
    border: 1px solid map-get($colors, secondary);
    padding: 15px;
    border-radius: 5px;
  }
  h2 {
    color: black;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .welcome-text {
    color: black;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-family: monospace;
  }
  .btn {
    background: map-get($colors, primary);
    margin: 0 auto;
    margin-top: 5%;
    @include tablet {
      margin-top: 5%;
    }
  }
}
