@import "../../helpers/_variables";

.result-page {
  padding-top: 15%;
  @include desktop {
    padding-top: 10%;
  }
  .result {
    @include desktop {
      width: 60%;
    }
  }

  .display-none {
    @include desktop {
      display: none;
    }
    @include tablet {
      display: none;
    }
  }
  .title {
    font-weight: bolder;
    color: #1392bf;
  }
  .text {
    font-family: monospace;
    color: black;
  }
  .author {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
.hide-bg {
  @include desktop {
    display: none;
  }
  @include tablet {
    display: none;
  }
}
.hide-sm {
  display: none;
  @include desktop {
    display: flex;
  }
  @include tablet {
    display: flex;
  }
}
.no-margin input{
  margin-bottom: 0px;
}
.modal-search {
  width: 90%;
  input {
    background: map-get($colors, primary);
    border: none;
    border-bottom: 1px solid map-get($colors, accent);
    border-radius: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    color: white;
  }
}
