@import "../../helpers/_variables";

.landing-page {
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: -webkit-fill-available;

  .container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include desktop {
      width: 40%;
    }
    @include tablet {
      width: 55%;
    }
  }
  h2 {
    @include desktop {
      font-size: 4em;
    }
  }
  p {
    font-family: monospace;
    @include desktop {
      font-size: larger;
    }
  }
}

.fab-btn {
  @include desktop {
    display: none !important;
  }

  @include tablet {
    display: none !important;
  }
}

.add-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10%;
  @include desktop {
    padding-top: 10%;
  }

  @include tablet {
    padding-top: 10%;
  }
}
