$colors: (
  primary: #1392bf,
  accent: #f3f2e9,
  secondary: lighten(#1392bf, 30%)
);
// $neumorphism: 9px 9px 16px #a3b1c699, -9px -9px 16px  #ffffff80;
$neumorphism: none;

$desktop: 840px;
$tablet: 740px;

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin tablet {
  @media (min-width :$tablet) and (max-width: $desktop ) {
    @content;
  }
}
