/* font-face {
  font-family: Vollkorn;
  src: url("./fonts/Vollkorn-Regular.ttf");
} */
@import url(//fonts.googleapis.com/css?family=Lato:300:400);
html,
body {
  margin: 0;
  height: 100%;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  height: 100vh;
  /* background: #1392bf; */
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 40px;
}
footer a {
  text-decoration: none;
  color: #1392bf;
  padding-left: 5px;
}
